.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-preview {
  flex: 1;
  font-family: Fira Code;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #282c34;
  color: #abb2bf;
}

.Main-Container {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.Container {
  width: 40%;
  background-color: white;
  margin: 3%;
  padding: 1%;
}
.Code-Container {
  display: flex;
  flex-wrap: wrap;
}
