.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-preview {
  flex: 1;
  font-family: Fira Code;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #282c34;
  color: #abb2bf;
}

.Main-Container {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.Container {
  width: 40%;
  background-color: white;
  margin: 3%;
  padding: 1%;
}
.Code-Container {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgb(189, 189, 189);
  padding: 15px 30px;
  border-radius: 5px;
  margin-left: 5px;
  transition: 0.1s;
  &:hover {
    background-color: rgb(82, 82, 82);
    color: white;
  }
}

.Lobby {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Edit {
  height: 100%;
  div {
    height: 80%;
    background-color: white;
  }
}

button {
  text-decoration: none;
  color: black;
  background-color: rgb(189, 189, 189);
  padding: 15px 30px;
  margin-right: 5px;
  border-radius: 3px;
  transition: 0.1s;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    color: white;
  }
}
